In [3]:
import pandas as pd
import numpy as np

s1 = pd.Series([7.3,1.5,8.6,7.6,2.4], index = ['a','b','c','d','e'])
s2 = pd.Series([1.5,8.6,7.6], index = ['a','b','e'])

s3 = s1 + s2 #依照索引去相加

display(s1)
display(s2)
s3

a    7.3
b    1.5
c    8.6
d    7.6
e    2.4
dtype: float64

a    1.5
b    8.6
e    7.6
dtype: float64

a     8.8
b    10.1
c     NaN
d     NaN
e    10.0
dtype: float64

In [4]:
#用實體方式加減 可以有fill value功能補"0"
s3 = s1.add(s2, fill_value=0)
s3

a     8.8
b    10.1
c     8.6
d     7.6
e    10.0
dtype: float64

In [10]:
s4 = pd.Series([7.3,1.5,8.6,7.6,2.4], index = ['b','c','a','d','e'])
display(s4)
display(s4.sort_index())
display(s4.sort_index(ascending=False))

b    7.3
c    1.5
a    8.6
d    7.6
e    2.4
dtype: float64

a    8.6
b    7.3
c    1.5
d    7.6
e    2.4
dtype: float64

e    2.4
d    7.6
c    1.5
b    7.3
a    8.6
dtype: float64

In [13]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)),
             index = ['three', 'one'],
             columns= ['d','a','b','c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [16]:
display(frame)
display(frame.sort_index())
display(frame.sort_index(axis=1)) #"1"也可以寫column

frame2 = frame.sort_index().sort_index(axis=1) 
frame2

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

       a  b  c  d
one    5  6  7  4
three  1  2  3  0

In [19]:
s5 = pd.Series([7.3,1.5,8.6,7.6,2.4])
display(s5)
display(s5.sort_values())
display(s5.sort_values(ascending=False))

0    7.3
1    1.5
2    8.6
3    7.6
4    2.4
dtype: float64

1    1.5
4    2.4
0    7.3
3    7.6
2    8.6
dtype: float64

2    8.6
3    7.6
0    7.3
4    2.4
1    1.5
dtype: float64

In [25]:
frame6 = pd.DataFrame({'b': [4,6,8,1,3],
                      'a': [6,8,9,4,1]
                      })
display(frame6)
display(frame6.sort_values(by='b'))
display(frame6.sort_values(by=['a','b']))

   b  a
0  4  6
1  6  8
2  8  9
3  1  4
4  3  1

   b  a
3  1  4
4  3  1
0  4  6
1  6  8
2  8  9

   b  a
4  3  1
3  1  4
0  4  6
1  6  8
2  8  9

In [27]:
#rank

s5 = pd.Series([7.3,1.5,8.6,7.6,2.4,5.4,6.9])
display(s5)
display(s5.rank())
display(s5.rank(method='average'))
display(s5.rank(method='first'))
display(s5.rank(method='min'))

0    7.3
1    1.5
2    8.6
3    7.6
4    2.4
5    5.4
6    6.9
dtype: float64

0    5.0
1    1.0
2    7.0
3    6.0
4    2.0
5    3.0
6    4.0
dtype: float64

0    5.0
1    1.0
2    7.0
3    6.0
4    2.0
5    3.0
6    4.0
dtype: float64

0    5.0
1    1.0
2    7.0
3    6.0
4    2.0
5    3.0
6    4.0
dtype: float64

0    5.0
1    1.0
2    7.0
3    6.0
4    2.0
5    3.0
6    4.0
dtype: float64