In [3]:
import numpy as np

student = np.array([67, 78, 92, 74, 65])
student[0]
student[4]
student

array([67, 78, 92, 74, 65])

In [1]:
import pandas as pd

s1 = pd.Series([65,88,87,46,79], index=['CH','MA','HI','CI','EN'])
s1

CH    65
MA    88
HI    87
CI    46
EN    79
dtype: int64

In [5]:
s1 +5

CH    70
MA    93
HI    92
CI    51
EN    84
dtype: int64

In [9]:
s1['CH'] #使用key-index
s1[0] #使用原生-index

65

In [10]:
for i in s1:
    print(i)

65
88
87
46
79

In [19]:
print(np.sum(s1))
print(np.mean(s1))
print(np.std(s1))
print(np.median(s1))

365
73.0
15.811388300841896
79.0

In [20]:
import pandas as pd

pd.DataFrame({
    "Allen":[99,98,75,68,77],
    "Elena":[99,98,75,68,77],
    "Athena":[99,98,75,68,77],
},index = ['CH','MA','HI','CI','EN'])

    Allen  Elena  Athena
CH     99     99      99
MA     98     98      98
HI     75     75      75
CI     68     68      68
EN     77     77      77

In [23]:
import numpy as np
import pandas as pd

data = np.random.randint(50,100,size = (50,5))
pd.DataFrame(data,
             index = range(1,51),
             columns = ['CH','MA','HI','CI','EN'])

    CH  MA  HI  CI  EN
1   95  80  63  99  60
2   92  73  52  95  55
3   93  59  79  93  50
4   67  81  69  93  56
5   69  85  54  61  97
6   93  93  94  64  52
7   79  90  65  72  66
8   80  64  80  78  69
9   87  55  50  99  83
10  65  56  98  67  51
11  98  59  66  74  94
12  60  64  62  94  63
13  51  79  90  93  91
14  85  84  75  54  79
15  75  52  71  77  54
16  82  73  58  87  65
17  93  57  67  86  75
18  98  59  60  86  55
19  63  86  51  76  60
20  57  63  82  62  85
21  66  70  79  80  71
22  61  76  99  85  87
23  92  75  88  83  94
24  99  87  60  90  68
25  87  58  61  62  81
26  59  79  67  85  66
27  53  50  96  93  65
28  50  95  54  83  97
29  52  68  61  67  93
30  59  63  78  81  66
31  79  67  57  65  58
32  68  66  67  92  90
33  71  78  60  69  82
34  84  62  75  56  80
35  56  83  50  71  52
36  92  63  96  68  98
37  56  88  60  85  93
38  84  85  81  77  60
39  76  98  98  88  93
40  78  69  83  68  90
41  65  88  51  95  60
42  55  85  56  74  50
43  57  57  60  88  51
44  66  92  70  51  59
45  65  83  84  71  97
46  74  65  99  53  69
47  89  78  55  94  65
48  95  95  59  72  93
49  59  66  84  65  86
50  69  89  95  95  85